In [30]:
import pandas as pd
import numpy as np
from datetime import datetime

In [31]:
df = pd.read_csv('Coffe_sales.csv')

In [32]:
print(df)

      hour_of_day cash_type  money    coffee_name Time_of_Day Weekday  \
0              10      card  38.70          Latte     Morning     Fri
1              12      card  38.70  Hot Chocolate   Afternoon     Fri
2              12      card  38.70  Hot Chocolate   Afternoon     Fri
3              13      card  28.90      Americano   Afternoon     Fri
4              13      card  38.70          Latte   Afternoon     Fri
...           ...       ...    ...            ...         ...     ...
3542           10      card  35.76     Cappuccino     Morning     Sun
3543           14      card  35.76          Cocoa   Afternoon     Sun
3544           14      card  35.76          Cocoa   Afternoon     Sun
3545           15      card  25.96      Americano   Afternoon     Sun
3546           18      card  35.76          Latte       Night     Sun

     Month_name  Weekdaysort  Monthsort        Date             Time
0           Mar            5          3  2024-03-01  10:15:50.520000
1           Mar            5          3  2024-03-01  12:19:22.539000
2           Mar            5          3  2024-03-01  12:20:18.089000
3           Mar            5          3  2024-03-01  13:46:33.006000
4           Mar            5          3  2024-03-01  13:48:14.626000
...         ...          ...        ...         ...              ...
3542        Mar            7          3  2025-03-23  10:34:54.894000
3543        Mar            7          3  2025-03-23  14:43:37.362000
3544        Mar            7          3  2025-03-23  14:44:16.864000
3545        Mar            7          3  2025-03-23  15:47:28.723000
3546        Mar            7          3  2025-03-23  18:11:38.635000

[3547 rows x 11 columns]

In [33]:
df['Date'] = pd.to_datetime(df['Date'])
df['Time'] = pd.to_datetime(df['Time']).dt.time

In [34]:
df['week_number'] = df['Date'].dt.isocalendar().week
df['day_of_month'] = df['Date'].dt.day

In [35]:
print(df.isnull().sum())

hour_of_day     0
cash_type       0
money           0
coffee_name     0
Time_of_Day     0
Weekday         0
Month_name      0
Weekdaysort     0
Monthsort       0
Date            0
Time            0
week_number     0
day_of_month    0
dtype: int64

In [38]:
total_coluna = df['money'].sum()

In [39]:
print(total_coluna)

112245.57999999999

In [40]:
print(df)

      hour_of_day cash_type  money    coffee_name Time_of_Day Weekday  \
0              10      card  38.70          Latte     Morning     Fri
1              12      card  38.70  Hot Chocolate   Afternoon     Fri
2              12      card  38.70  Hot Chocolate   Afternoon     Fri
3              13      card  28.90      Americano   Afternoon     Fri
4              13      card  38.70          Latte   Afternoon     Fri
...           ...       ...    ...            ...         ...     ...
3542           10      card  35.76     Cappuccino     Morning     Sun
3543           14      card  35.76          Cocoa   Afternoon     Sun
3544           14      card  35.76          Cocoa   Afternoon     Sun
3545           15      card  25.96      Americano   Afternoon     Sun
3546           18      card  35.76          Latte       Night     Sun

     Month_name  Weekdaysort  Monthsort       Date             Time  \
0           Mar            5          3 2024-03-01  10:15:50.520000
1           Mar            5          3 2024-03-01  12:19:22.539000
2           Mar            5          3 2024-03-01  12:20:18.089000
3           Mar            5          3 2024-03-01  13:46:33.006000
4           Mar            5          3 2024-03-01  13:48:14.626000
...         ...          ...        ...        ...              ...
3542        Mar            7          3 2025-03-23  10:34:54.894000
3543        Mar            7          3 2025-03-23  14:43:37.362000
3544        Mar            7          3 2025-03-23  14:44:16.864000
3545        Mar            7          3 2025-03-23  15:47:28.723000
3546        Mar            7          3 2025-03-23  18:11:38.635000

      week_number  day_of_month
0               9             1
1               9             1
2               9             1
3               9             1
4               9             1
...           ...           ...
3542           12            23
3543           12            23
3544           12            23
3545           12            23
3546           12            23

[3547 rows x 13 columns]

In [41]:
df.to_csv('Coffe_sales.csv', index=False)